<h2><p>Digital Millennium Copyright Act (DMCA) Notice</p></h2>
<p><br>
If you believe that material available on our platform infringes on your copyright(s), please notify us by providing a DMCA notice. Upon receipt of a valid and complete notice, we will remove the material and make a good faith attempt to contact the user who uploaded the material by email.
</p><p><b>
Before submitting a DMCA notice, it’s important to consider if the manner in which the material is used falls under <a href="https://www.copyright.gov/fls/fl102.html"><u>fair use</u></a>. You are required to consider the possible fair use implications, as a result of <a href="https://www.eff.org/press/releases/important-win-fair-use-dancing-baby-lawsuit"><u>Lenz v. Universal</u></a>. 
</p></b><p>
If you are not sure whether material located on our platform infringes your copyright, or if it is subject to fair use protections, you should first consider seeking legal advice.
</p><p><b>
We reserve the right to challenge abuses of the DMCA process, and your use of this form does not waive that right. You may be liable for damages (including costs and attorneys’ fees) if you materially misrepresent that material or activity is infringing.
</p></b><p>
Your DMCA notice will be forwarded to the party that made the material available, and also may be sent to third parties such as <a href="https://lumendatabase.org/"><u>LumenDatabase.org</u></a>. A note will also be placed on the site in question detailing the name of the copyright holder who submitted the takedown notice. 
</p><p>
Please follow these steps to file a notice:
</p><ol style="padding-left:60px">
<p><b><li>Carefully read and consider the statements above</li></p></b>

<p><li>Contact the platform user directly. Go to the content in question and leave a comment with your complaint to see if the matter can be resolved directly between you and the platform user.</li></p>

<p><li>Send your complaint to us via the form below, if the issue cannot be resolved directly with the platform user.</li></p>
</ol>
<br>
{{ form }}
<br><h5>
<p>If you’d prefer not to use our automated form, you can send your complaint to us, including the following:</p>
<ul style="padding-left:60px">
<li>A physical or electronic signature of the copyright owner or a person authorized to act on their behalf;</li>
<li>An identification of the copyrighted work claimed to have been infringed;</li>
<li>A description of the nature and exact location of the material that you claim to infringe your copyright, in sufficient detail to permit Dolebas to find and positively identify that material. We require a link to the specific content that contains the material and a description of which specific portion of the content, an image, a link, the text, etc. your complaint refers to;</li>
<li>Your name, address, telephone number and email address;</li>
<li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
<li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul></h5>